
@font-face {
    font-family: quicksand;
    src: url(quicksand/Quicksand-Regular.ttf);
}

@font-face {
    font-family: Quicksand medio;
    src: url(quicksand/Quicksand-Medium.ttf);
}

@font-face {
    font-family: quicksand bold;
    src: url(quicksand/Quicksand-Bold.ttf);
}

@font-face {
    font-family: roboto;
    src: url(roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-medio;
    src: url(roboto/Roboto-Medium.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&family=Raleway:wght@600&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    
    max-width: 100%;
    margin: 0px;
    overflow-x: hidden;
}

.barraFixa{
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.103);

}

.barraFixa a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #725C5C;
    font-size: medium;
    padding: 10px 20px 15px 30px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #E7E7E7;
    font-family: Quicksand medio;


}

.barraFixa a:hover{
    border-left: 16px solid transparent;
    border-image: linear-gradient(to right, #FFB455, #ED7839);
    border-image-slice: 1;
    height: 10px;
    background-color: #FDF1EB;
}


.barraFixa a:active {
    border-left: 16px solid transparent;
    border-image: linear-gradient(to right, #FFB455, #ED7839);
    border-image-slice: 1;
    height: 10px;
    background-color: #FDF1EB;
}

header{
    
    width: 100%;
    height: 88px;
    top: 0px;
    display: flex;
    position: relative;
    background-color: #FDF1EB;
    margin: 0px 0px 0px 220px;
    white-space: nowrap;
   
}

.h1Header{
    color: #725C5C;
    margin: 0px;
    font-family: roboto;
    font-size: 20px;
    padding: 10px 0px 0px 40px;
    width: 100%;

}

.h2Logo{
    height: 68px;
    font-family: roboto-bold;
    color: #FFFFFF;
    font-size: 30px;
    background-image: linear-gradient(#FFB354, #EE7A3A);
    margin: 0px;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0px;

    
}

.h4Header{
    margin: 0px;
    color: #725C5C;
    font-family: roboto;
    font-size: 14px;
    padding: 10px 0px 5px 40px;
    

}

.spanHeader {
    font-family: roboto;
    font-size: 14px;
    color: #725C5C;
    padding: 5px 0px 5px 40px;


}
.titulosHeader{
    flex-wrap: nowrap;
}

.globo{
    position: relative;
    top: 5px;
    left: 3px;
}
.arrow{
    position: relative;
    right: 10px;
}

.botãoIdioma {
    padding: 30px 0px 0px 300px;
    
}
.botãoIdioma div{
    flex-wrap: nowrap;
    border: 2px solid #CCCCCC;
    border-radius: 4px;
    
}


select {
    padding: 7px 7px 7px 7px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;      
   border: none;
   background-color: #FDF1EB;
   font-size: 16px;
   outline: none;
   
}

.emailHeader{
    display: flex;
    flex-flow: column nowrap;
    padding-top: 20px;
    padding-left: 70px;
    align-items: flex-end;
    background-color: #FDF1EB;
    

    
}

.rosto{
    display: flex;
    align-items: center;
    padding: 5px 5px 0px 5px;
    background-color: #FDF1EB;

}

.imagemRosto{
    border-radius: 40px;
}

.video{

    padding: 5px 0px 0px 35px;
}
.videoDetalhes h1 {
    
    padding: 20px 0px 20px 35px;
    max-width: 906px;
    font-family: roboto;
    color: #ED7839;
}

main{
    position: relative;
    left: 230px;
    display: flex;
    align-items: flex-start;
}

.botoesDetalhes {
    flex-flow: column nowrap;
    max-width: 70%;
}

.botões{

    display: flex;
    padding: 20px 10px 20px 100px;
    margin: 0px 7px 0px 75px;
}

.botaoDownload {
    display:flex;
    flex-flow: nowrap;
    font-family: roboto;
    font-size: 16px;
    color: white;
    align-items: center;
    background-color: #ED7839;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    
}

.botaoDownload > a{
    text-decoration: none;
    color: inherit;
}

.botaoDownload > a:visited{
    color: inherit;
}

.botaoDownload:hover {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.24), 0 3px 5px 0 rgba(0,0,0,0.19);
}

.botaoDownload:active{
    transform: translateY(4px);
}

.imgDownload {
    padding: 7px 7px 7px 7px;
}

.star{
    display:flex;
    align-items: center;
    background-color: #ED7839;
    padding: 5px 8px 5px 8px;
    margin: 0px 7px 0px 7px;
    border-radius: 5px;
    cursor: pointer;
}

.star:hover{
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.24), 0 3px 5px 0 rgba(0,0,0,0.19);
}
.star:active{
    transform: translateY(4px);
}

.doi{

    display:flex;
    align-items: center;
    background-color: #ED7839;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.doi:hover{
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.24), 0 3px 5px 0 rgba(0,0,0,0.19);
}
.doi:active{
    transform: translateY(4px);

}

.citar{
    
    font-family: roboto;
    font-weight: bold;
    font-size: 18px;
    color: #ED7839;
    margin: 0px 7px 0px 150px;
}

.detalhes{
    padding: 10px 10px 10px 10px;
    margin: 2px 7px 0px 143px;
    height: 415px;
    max-width: 250px;
    max-height: 415px;
}

.nomeSeção{

    font-family: roboto-medio;
    font-size: 25px;
    color: #4E4E4E;
    background-color: #FDF1EB;
    border: 2px solid #ECECEC;
    padding: 10px 10px 10px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.lista{
    
    border: 2px solid #ECECEC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 350px;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
background: #dfdede; 
}

::-webkit-scrollbar-thumb {
background: #BFBFBF; 
}

::-webkit-scrollbar-thumb:hover {
background: #9e9e9e; 
}

.listaDetalhes{
    font-family: quicksand;
    font-size: 15px;
    padding: 10px 10px 0px 10px;

}

.listaDetalhes li{
    list-style: none;
}

.tituloLista{
    font-family: Quicksand medio;
    color: #5C5C5C;
    padding: 10px 10px 0px 10px;
}
    
.autores{
    list-style-type: none;
    padding: 10px 10px 10px 10px;
}
.autores li {
    font-family: quicksand;
    color: #5C5C5C;
}

.instituições{
    list-style-type: none;
    padding: 10px 10px 10px 10px;

}

.instituições li{
    font-family: quicksand;
    color: #ADA0A0;
}

.resumo{
    width: 1310px;
    padding: 20px 10px 20px 35px;
    margin: 0px 0px 0px 230px;
    

}

.resumo h3{
    border-bottom: 2px solid #ECECEC;
    font-family: quicksand medio;
    font-size: 20px;
    background-color: #FDF1EB;
    padding: 10px 10px 10px 10px;

}
.resumoDiv{
    border: 2px solid #ECECEC;
    border-radius: 4px;
}
.resumo p{
    padding: 10px 10px 10px 10px;
    font-family: quicksand;
}

#mais{
    display: none;
}

#verMais{
    
    border: none;
    background: none;
    font-family: quicksand medio;
    color: #ED7839;
    font-weight: bolder;
    padding: 0px 0px 10px 10px;

}

#verMais:hover{
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#verMais:active{
    transform: translateY(2px);
}

.discussao{

    padding: 20px 10px 20px 35px;
    margin: 0px 0px 0px 230px;
    width: 1310px;
    
}

.discussaoDiv{
    
    border: 2px solid #ECECEC;
    border-radius: 4px;
}


.discussaoDiv h3{
    
    align-self: start;
    font-family: quicksand medio;
    font-size: 20px;
    background-color: #FDF1EB;
    padding: 10px 10px 10px 10px;
}

.inicio{
    padding: 10px 10px 10px 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    
}
.inicio h2{
    font-family: quicksand bold;
    font-weight: bold;
    color: #ED7839;
    display: grid;
    justify-items: center;
    padding: 10px 10px 10px 10px;
}
.inicio span{
    padding: 10px 10px 10px 10px;

}

.inicio{
 display: flex;
 flex-flow: column nowrap;

 border-bottom: 2px solid #E7E7E7;
}

.inicio span{
    font-family: quicksand;
    font-size: 1.1em;
}

.criarTopico{
    border: none;
    background-image: linear-gradient(#FFB354, #EE7A3A);
    font-family: quicksand ;
    font-size: 1em;
    color: white;
    font-weight: bolder;
    padding: 10px 10px 10px 10px;
    max-width: fit-content;
    border-radius: 5px;
    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.404);
    position: relative;
    top:10px;

}

input[type=text]:invalid {
    border: red solid 1px;
}

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-content: center;
    
    
}

.container >textarea{
    outline: none;
    background-color:#FDF1EB;
    border: 2px solid #ECECEC;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.404);
}
.container > label {
   text-align: center;
}
#comment{
    background-color:#FDF1EB;
    width: 1000px;
    height: 70px;
    margin: 15px 5px 5px 5px;
    border-radius: 5px;
    outline: none;
    
}
#addComments {
    border: none;
    background-image: linear-gradient(#FFB354, #EE7A3A);
    font-family: quicksand ;
    font-size: 0.8em;
    color: white;
    font-weight: bolder;
    padding: 5px 5px 5px 5px;
    max-width: fit-content;
    border-radius: 5px;
    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.404);
    position: relative;
    top:5px;
    cursor: pointer;
    margin-bottom: 30px;
}

#addComments:active{
    transform: translateY(3px);
}

#addComments:hover{
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.wrapper > button {
    border: none;
    background-image: linear-gradient(#FFB354, #EE7A3A);
    font-family: quicksand ;
    font-size: 0.8em;
    color: white;
    font-weight: medium;
    padding: 3px 3px 5px 3px;
    max-width: fit-content;
    border-radius: 5px;
    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.404);
    position: relative;
    cursor: pointer;
    margin: 5px 2px 5px 2px;
    
    
}

.wrapper> button:hover{
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.wrapper> button:active{
    transform: translateY(3px);
}

.wrapper > div{
    padding: 5px 5px 5px 10px;
    font-family: quicksand;
    border-radius: 5px;
    border: 2px solid #ECECEC;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.404);
}

.wrapper > textarea{
    border: 2px solid #ECECEC;
    border-radius: 5px;
    background-color:#FDF1EB;
    outline: none;
    width: 900px;
    
}

footer{
    width: 1310px;
    margin: 3px 0px 3px 230px;
    padding-left: 35px;
    border-top: 2px solid #E7E7E7;
    
}

footer section{
   display: flex;
}

.galoa{
    font-family: roboto;
    font-weight: 600;
    font-size: 4rem;
    color: #71478e;
    
}
.AP{
    color: #71478e;
    white-space: nowrap;
    margin: 3px 0px 3px 3px;
}
.logoFooter{
    padding: 10px 10px 50px 10px;
}
.logoFooter span{
    font-family: quicksand;
    
}

.textoFooter{
    display: grid;
    align-items: center;
    height: 150px;
}
.textoFooter span{
    font-family: quicksand;
}

.saibaMais{
    background-color: #71478e;
    color: white;
    border-radius: 4px;
    padding: 3px 45px 3px 45px;
    white-space: nowrap;
    
    position: relative;
    top: 5px;
}