@font-face {
    font-family: Quicksand medio;
    src: url(quicksand/Quicksand-Medium.ttf);
}

@font-face {
    font-family: roboto;
    src: url(roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-medio;
    src: url(roboto/Roboto-Medium.ttf);
}

*{
    margin: 0px;
    padding: 0px;
}
.barraFixa{
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.103);

}

.barraFixa a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #725C5C;
    font-size: medium;
    padding: 10px 20px 15px 30px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #E7E7E7;
    font-family: Quicksand medio;


}

.barraFixa a:hover{
    border-left: 16px solid transparent;
    border-image: linear-gradient(to right, #FFB455, #ED7839);
    border-image-slice: 1;
    height: 10px;
    background-color: #FDF1EB;
}


.barraFixa a:active {
    border-left: 16px solid transparent;
    border-image: linear-gradient(to right, #FFB455, #ED7839);
    border-image-slice: 1;
    height: 10px;
    background-color: #FDF1EB;
}

header{
    
    height: 88px;
    left: 220px;
    top: 0px;
    display: flex;
    position: relative;
    background-color: #FDF1EB;
    margin: 0px;
    white-space: nowrap;
   
}

.h1Header{
    color: #725C5C;
    margin: 0px;
    font-family: roboto;
    font-size: 20px;
    padding: 10px 0px 0px 40px;
    
}

.h2Logo{
    height: 68px;
    font-family: roboto-bold;
    color: #FFFFFF;
    font-size: 30px;
    background-image: linear-gradient(#FFB354, #EE7A3A);
    margin: 0px;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0px;

    
}

.h4Header{
    margin: 0px;
    color: #725C5C;
    font-family: roboto;
    font-size: 14px;
    padding: 10px 0px 5px 40px;
    

}

.spanHeader {
    font-family: roboto;
    font-size: 14px;
    color: #725C5C;
    padding: 5px 0px 5px 40px;


}
.titulosHeader{
    flex-wrap: nowrap;
}

.globo{
    position: relative;
    top: 5px;
    left: 3px;
}
.arrow{
    position: relative;
    right: 10px;
}

.botãoIdioma {
    padding: 30px 0px 0px 500px;
}
.botãoIdioma div{
    flex-wrap: nowrap;
    border: 2px solid #CCCCCC;
    border-radius: 4px;
    
}


select {
    padding: 7px 7px 7px 7px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;      
   border: none;
   background-color: #FDF1EB;
   font-size: 16px;

}

.emailHeader{
    display: flex;
    flex-flow: column nowrap;
    padding-top: 20px;
    padding-left: 10px;
    align-items: flex-end;
    
}


.rosto{
    display: flex;
    align-items: center;
    padding-left: 5px;

}

.imagemRosto{
    border-radius: 40px;
}

body{
    margin: 0px;
}

.video{

    padding: 5px 0px 0px 35px;
}
.videoDetalhes h1 {
    
    padding: 20px 0px 20px 35px;
    max-width: 906px;
    font-family: roboto;
    color: #ED7839;
}

main{
    position: relative;
    left: 220px;
    display: flex;
    align-items: flex-start;
}

.botoesDetalhes {
    flex-flow: column nowrap;
}

.botões{

    display: flex;
    padding: 20px 10px 20px 100px;
    margin: 0px 7px 0px 200px;
}

.botaoDownload {
    display:flex;
    flex-flow: nowrap;
    font-family: roboto;
    font-size: 16px;
    color: white;
    align-items: center;
    background-color: #ED7839;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.imgDownload {
    padding: 7px 7px 7px 7px;
}

.star{
    display:flex;
    align-items: center;
    background-color: #ED7839;
    padding: 5px 8px 5px 8px;
    margin: 0px 7px 0px 7px;
    border-radius: 5px;
}


.doi{

    display:flex;
    align-items: center;
    background-color: #ED7839;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

.citar{
    
    font-family: roboto;
    font-size: 16px;
    color: #ED7839;
    margin: 0px 7px 0px 300px;

}

.detalhes{
    padding: 10px 10px 10px 10px;
    margin: 2px 7px 0px 250px;
   

}

.nomeSeção{

    font-family: roboto-medio;
    font-size: 25px;
    color: #4E4E4E;
    background-color: #FDF1EB;
    border: 2px solid #ECECEC;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

.lista{}

.tituloLista{}
    
.autores{}

.instituições{}


