@font-face {
    font-family: Quicksand medio;
    src: url(quicksand/Quicksand-Medium.ttf);
}

@font-face {
    font-family: roboto;
    src: url(roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(roboto/Roboto-Bold.ttf);
}
.barraFixa{
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;

}

.barraFixa a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #725C5C;
    font-size: medium;
    padding: 10px 20px 15px 30px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #E7E7E7;
    font-family: Quicksand medio;


}

.barraFixa a:hover{
    border-left: 16px solid transparent;
    border-image: linear-gradient(to right, #FFB455, #ED7839);
    border-image-slice: 1;
    height: 10px;
    background-color: #FDF1EB;
}


.barraFixa a:active {
    border-left: 16px solid transparent;
    border-image: linear-gradient(to right, #FFB455, #ED7839);
    border-image-slice: 1;
    height: 10px;
    background-color: #FDF1EB;
}

header{
    
    height: 88px;
    left: 220px;
    top: 0px;
    display: flex;
    position: relative;
    background-color: #FDF1EB;
    margin: 0px;
}

.h1Header{
    color: #725C5C;
    margin: 0px;
    font-family: roboto;
    font-size: 20px;
    padding: 10px 0px 0px 40px;
    
}

.h2Logo{
    height: 68px;
    font-family: roboto-bold;
    color: #FFFFFF;
    font-size: 30px;
    background-image: linear-gradient(#FFB354, #EE7A3A);
    margin: 0px;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0px;

    
}

.h4Header{
    margin: 0px;
    color: #725C5C;
    font-family: roboto;
    font-size: 14px;
    padding: 10px 0px 5px 40px;
    

}

.spanHeader {
    font-family: roboto;
    font-size: 14px;
    color: #725C5C;
    padding: 5px 0px 5px 40px;


}
.titulosHeader{
    flex-wrap: nowrap;
}

.botãoIdioma {
    padding: 30px 0px 0px 500px;
}
.botãoIdioma div{
    flex-wrap: nowrap;
    

    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

body{
    margin: 0px;
}



